.App {
  text-align: center;
  background-color: white;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: "Times New Roman", serif;
}
